#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family:  "Lucida Console", monospace;
  color: black;

}
 body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  gap: 15px;
}
#head-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
  position: relative;
  align-items: center;
}

#head-container img {
  max-height: 300px;
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  z-index: 1;
  margin-left: -200px;
}

#head-container h1 {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #333;
  z-index: 2;
  position: relative;
  margin-left: 10px;
  padding: 10px;
}